<ul class="collection with-header" id="bookmark-list">
  <li class="collection-header"><h4>Bookmarked Locations</h4></li>
  <% BookmarkedLocation.where(user_id: current_user).each do |t| %>
<li class="collection-item avatar" data-lat="<%= t.latitude %>" data-lon="<%= t.longitude %>">
    <!--<img src="https://maps.googleapis.com/maps/api/staticmap?size=400x300&markers=color:blue|<%= t.latitude %>,<%= t.longitude %>&key=<%= @api_key %>" alt="" class="square">-->
  <span class="title"><%= t.name %></span>
  <p><%= t.latitude %> <br>
    <%= t.longitude %>
  <%= button_to 'delete', t, id: t.id,method: :delete, data: { confirm: 'Are you sure?' }, :class => 'secondary-content' %>
  </p>
  </li>
  <% end %>
</ul>