<p id="notice"><%= notice %></p>

<p>
  <strong>Start loc:</strong>
  <%= @planned_trip.start_loc %>
</p>

<p>
  <strong>End loc:</strong>
  <%= @planned_trip.end_loc %>
</p>

<p>
  <strong>Start lat:</strong>
  <%= @planned_trip.start_lat %>
</p>

<p>
  <strong>Start lon:</strong>
  <%= @planned_trip.start_lon %>
</p>

<p>
  <strong>End lat:</strong>
  <%= @planned_trip.end_lat %>
</p>

<p>
  <strong>End lon:</strong>
  <%= @planned_trip.end_lon %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @planned_trip.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @planned_trip.updated_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @planned_trip.user %>
</p>

<%= link_to 'Edit', edit_planned_trip_path(@planned_trip) %> |
<%= link_to 'Back', planned_trips_path %>
