<h2 style="font-size: 3rem; line-height: 4rem;">Traffic Events</h2>

<% TrafficEvent.all.each do |t| %>
    <div class="row">
        <div class="col s12">
            <% l = LatLon.where(traffic_event: t).first %>
            <div class="traffic-card card blue darken-1" data-lat="<%= l.latitude %>" data-lon="<%= l.longitude %>">
                <div class="card-image">
                    <img src="https://maps.googleapis.com/maps/api/streetview?size=400x300&location=<%= l.latitude %>,<%= l.longitude %>&fov=90&heading=235&pitch=10&key=<%= @api_key %>">
                </div>
                <div class="card-content white-text">
                    <span class="card-title" style="line-height: 32px;">
                        <%= t.title %>
                    </span>
                    <p><%= t.content %>
                    <br>
                      <%= social_share_button_tag("Be sure to avoid " + t.title + ". Find out more from:",
                                                  :popup => "true",
                                                  :url => "http://trafficbuddy.com",
                                                  :image => "https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-185_traffic_cone-128.png",
                                                  desc: "TrafficBuddy, never get stuck in traffic again!",
                                                  via: "TrafficBuddy") %>

                    </p>
                </div>
            </div>
        </div>
    </div>
<% end %>




