<!DOCTYPE html>
<html>
<head>
  <title>TrafficBuddy</title>
  <%= include_gon %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    html, body, #map-canvas {
        width: 100%;
        height: 500px;
        margin: 0px;
        padding: 0px
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
